.title {
    margin-bottom: 16px;
    text-align: center;
}

.form-container {
    padding: 16px;
    margin-top: 16px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
}

.field-row {
    margin-bottom: 16px;
    display: block;
    mat-form-field {
        width: 100%;
        display: block;
    }
}

.field-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    align-items: start;
}

@media (min-width: 768px) {
    .field-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}