<div class="row">
  @for(availableDate of availableDates(); track availableDate.id ) {
    <div class="col-sm-6 col-lg-4">
      <mat-card class="cardWithShadow">
        <mat-card-content class="text-center">
          <div class="d-flex flex-col gap-20 m-t-16">
            <div>
              <h4 mat-card-title>
                {{ availableDate.scheduledDate }}
              </h4>
              <span class="f-s-12">{{ availableDate.startTime }} - {{ availableDate.endTime }}</span>
            </div>
            <div class="d-flex gap-8 justify-content-center">
              <button
                mat-flat-button
                class="text-white">
                Eliminar
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  }
</div>
