<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="row justify-content-end">
      <div class="d-flex align-items-center">
        <button mat-flat-button color="primary" [routerLink]="['/apps/advisor/appointments/history']">
          <mat-icon matSuffix class="d-none d-sm-flex">
            <i-tabler name="history" class="icon-18 d-flex m-0"></i-tabler>
          </mat-icon>
          Historial de citas
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

@if (loading()) {
  <div class="d-flex justify-content-center p-24">
    <mat-progress-spinner mode="indeterminate" diameter="36"></mat-progress-spinner>
  </div>
}
@else {
  @if (appointments().length == 0) {
    <mat-card class="cardWithShadow">
      <mat-card-content class="text-center p-y-32">
        <i-tabler name="calendar-off" class="icon-48 text-dark m-b-16"></i-tabler>
        <div class="f-s-16 text-dark">No hay citas programadas.</div>
      </mat-card-content>
    </mat-card>
  }
  @else {
    <div class="row">
      @for(appointment of appointments(); track appointment.id) {
        <div class="col-sm-6 col-lg-4">
          <mat-card class="cardWithShadow">
            <mat-card-content class="text-center">
              <img
                src="{{ appointment.farmerPhoto }}"
                class="rounded-circle border p-5"
                width="100"
              />
              <div class="d-flex flex-col gap-20 m-t-16">
                <div>
                  <h4 mat-card-title>
                    {{ appointment.farmerName }}
                  </h4>
                  <span class="f-s-12">{{ appointment.date   | date: "d 'de' MMMM 'de' y" : undefined : 'es' }}</span>
                  <span class="f-s-12 d-block">{{ appointment.startTime | timeFormat }} - {{ appointment.endTime | timeFormat }}</span>
                </div>
                <div class="d-flex gap-8 justify-content-center">
                  <button
                    mat-flat-button
                    class="text-white"
                    (click)="goToDetail(appointment.id)"
                  >
                    Ver detalle
                  </button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      }
    </div>
  }
}
