@if(posts().length == 0) {
  <mat-card class="cardWithShadow">
    <mat-card-content>
      <div class="row justify-content-between gap-16">
        <div class="col-sm-4">
          @if(posts().length === 0){
            <p>No hay publicaciones disponibles.</p>
          }
        </div>
      </div>
    </mat-card-content>
  </mat-card>
}

<div class="row">
    <div class="col-sm-6 col-lg-4" *ngFor="let post of posts()">
    <mat-card
      class="cardWithShadow position-relative card-hover cursor-pointer"
      (click)="goToAdvisorProfile(post.advisorId)"
    >
      <mat-card-header>
        <img
          mat-card-avatar
          [src]="getAdvisor(post.advisorId).photo"
          alt="Asesor {{ getAdvisor(post.advisorId).firstName }} {{ getAdvisor(post.advisorId).lastName }}"
          (error)="onImageError($event)"
        />
        <mat-card-title>
          {{ getAdvisor(post.advisorId).firstName }} {{ getAdvisor(post.advisorId).lastName }}
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="post.image" alt="{{ post.title }}" />
      <mat-card-content>
        <mat-card-title>{{ post.title }}</mat-card-title>
        <p>{{ post.description }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
