<mat-sidenav-container>
  <mat-sidenav-content class="">
    <!-- ------------------------------------------------------------------
    Header
    ------------------------------------------------------------------ -->
    <mat-toolbar class="topbar topbar-xl m-auto">
      <div class="container full-width p-xs-6">
        <!-- --------------------------------------------------------------- -->
        <div class="branding p-x-0">
          <app-branding></app-branding>
        </div>

        <!-- --------------------------------------------------------------- -->

        <span class="flex-1-auto"></span>

        <div class="d-none d-lg-flex">
          <a
            mat-flat-button
            color="primary"
            class="m-l-10"
            [routerLink]="['/authentication/login']"
            >Iniciar sesión</a
          >
        </div>

        <!-- Mobile Menu -->
        <button
          mat-icon-button
          (click)="filterNavRight.toggle()"
          class="d-flex d-lg-none"
        >
          <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
        </button>
      </div>
    </mat-toolbar>

    <!-- ------------------------------------------------------------------
   End Header
    ------------------------------------------------------------------ -->

    <!-- ------------------------------------------------------------------
    Banner
    ------------------------------------------------------------------ -->
    <div class="overflow-hidden banner-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex align-items-center">
            <div>
              <span class="f-s-16 f-w-600 m-b-16 d-flex align-items-center"
                ><i-tabler name="rocket" class="text-secondary m-r-8"></i-tabler
                >Bienvenidos a AgroTech</span
              >
              <h1 class="banner-title m-0">
                Gestión moderna.
                <span class="text-primary">Resultados duraderos.</span>
              </h1>
              <p class="f-s-18 p-y-24 m-t-12 m-0 banner-subtitle">
                El próximo nivel en soluciones agrícolas integrales.
              </p>
              <div class="m-t-24 hstack">
                <a
                  mat-flat-button
                  color="primary"
                  [routerLink]="['/authentication/login']"
                  class="btn-custom"
                  >Iniciar sesión</a
                >
                <a
                  mat-stroked-button
                  color="primary"
                  (click)="gotoDemos()"
                  class="btn-custom border-primary"
                  >Ver más</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-6 d-none d-lg-flex">
            <div class="p-24 banner-slider">
              <div class="d-flex">
                <div style="margin-right: 16px;">
                  <div class="slider-img" style="margin-bottom: 10px;">
                    <img
                      src="assets/images/landingpage/bannerimg1.png"
                      style="border-radius: 30px;"
                      alt="img1"
                    />
                  </div>
                  <div class="slider-img">
                    <img
                      src="assets/images/landingpage/bannerimg1.png"
                      style="border-radius: 30px;"
                      alt="img1"
                    />
                  </div>
                </div>
                <div>
                  <div class="slider-img2" style="margin-bottom: 10px;">
                    <img
                      src="assets/images/landingpage/bannerimg2.png"
                      style="border-radius: 30px;"
                      alt="img1"
                    />
                  </div>
                  <div class="slider-img2">
                    <img
                      src="assets/images/landingpage/bannerimg2.png"
                      style="border-radius: 30px;"
                      alt="img1"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------------------------------------
    End Banner
    ------------------------------------------------------------------ -->

    <!-- ------------------------------------------------------------------
    Template
    ------------------------------------------------------------------ -->
    <div class="spacer" id="demos">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            
            <h2 class="section-title">
              ¿Tienes alguno de estos problemas?
            </h2>
          </div>
        </div>
        <div class="row m-t-24 justify-content-center">
          <div class="col-lg-3 col-sm-6 m-b-16">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Dificultades en la gestión de la granja</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>
                  Se te dificulta gestionar el cuidado de cultivos, lo que lleva a pérdidas en la producción y un uso ineficiente de recursos, afectando la rentabilidad de tu granja.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-lg-3 col-sm-6 m-b-16">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Limitaciones para expandir tu negocio</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>
                  No puedes expandir tu negocio debido a la falta de herramientas y conocimientos para optimizar tus operaciones, lo que limita tu capacidad de crecimiento.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-lg-3 col-sm-6 m-b-16">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Falta de acceso a asesoramiento especializado</mat-card-title>
                </mat-card-header>
              <mat-card-content>
                <p>
                  Careces de acceso a una asesoría especializada y recursos actualizados sobre mejores prácticas, lo que afecta la salud y el rendimiento de tus animales.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------------------------------------
    End Template
    ------------------------------------------------------------------ -->

    
    <!-- ------------------------------------------------------------------
    Users
    ------------------------------------------------------------------ -->
    <div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-sm-8">
            <span
              class="text-primary text-uppercase d-block text-center f-w-500"
              >Multifuncional</span
            >
            <h2 class="section-title text-center m-t-16">
              AgroTech se diseñó pensando en dos tipos de usuario
            </h2>
          </div>
        </div>

        <!-- users -->
        <div class="row m-t-24">
          @for(user of users; track user.title) {
          <div class="col-sm-6 col-lg-6 text-center">
            <i-tabler
              [name]="user.icon"
              class="icon-40 text-primary m-t-16"
            ></i-tabler>
            <h6 class="m-0 f-s-18 f-w-600 m-b-8 m-t-24">{{ user.title }}</h6>
            <span class="f-s-14 m-b-24 d-block lh-base">{{
              user.subtext
            }}</span>
          </div>
          }
        </div>
      </div>
    </div>

    <!-- ------------------------------------------------------------------
    End Users
    ------------------------------------------------------------------ -->


    <!-- ------------------------------------------------------------------
    Demo slider
    ------------------------------------------------------------------ -->
    <div class="spacer bg-extra-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-sm-11">
            <h2 class="section-title text-center">
              Obtén asesoramiento experto, optimiza la gestión de tu granja y lleva tu negocio agrícola al siguiente nivel.
            </h2>
          </div>
        </div>
      </div>
      <div class="demo-slider overflow-hidden d-flex">
        <div>
          <div class="demo-slide">
            <img
              src="assets/images/landingpage/background/slider-group.png"
              alt="slide"
            />
          </div>
        </div>
        <div>
          <div class="demo-slide">
            <img
              src="assets/images/landingpage/background/slider-group.png"
              alt="slide"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- ------------------------------------------------------------------
    End Demo slider
    ------------------------------------------------------------------ -->

    <!-- ------------------------------------------------------------------
    Developer Profiles
    ------------------------------------------------------------------ -->
    <div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-sm-11">
            <h2 class="section-title text-center">
              Conoce a los desarrolladores detrás de AgroTech
            </h2>
          </div>
        </div>
        <div class="row m-t-24 justify-content-center">
          @for(profile of profiles; track profile.name) {
          <div class="col-lg-4 col-sm-6">
            <mat-card class="cardWithShadow">
              <mat-card-content>
                <div class="d-flex align-items-center">
                  <img
                    [src]="profile.imgSrc"
                    alt="profile"
                    class="rounded-circle"
                    width="100"
                  />
                  <div class="m-l-12">
                    <h6 class=" f-s-16 f-w-600">
                      {{ profile.name }}
                    </h6>
                    <span>{{ profile.subtext }}</span>
                  </div>
                </div>
                <p class="m-t-24 f-s-14 m-b-0">
                  {{ profile.description }}
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          }
        </div>
      </div>
    </div>
    <!-- ------------------------------------------------------------------
    End Developer Profiles
    ------------------------------------------------------------------ -->

    <!-- ------------------------------------------------------------------
    call to action
    ------------------------------------------------------------------ -->
    <div class="container spacer-bottom">
      <div class="row justify-content-center">
        <div class="col-sm-10 col-lg-6">
          <mat-card
            class="cardWithShadow shape-card bg-size-cover"
            [style.background-image]="
              'url(/assets/images/landingpage/shape/line-bg.svg)'
            "
          >
            <mat-card-content class="p-32 text-center">
              <h3 class="f-s-24 f-w-600 m-0 m-t-12 ">
                ¿Tienes alguna consulta o recomendación?
              </h3>
              <span class="f-s-14 f-w-500 m-t-8 d-block"
                >Conéctate con nosotros a través de Discord o envíanos un correo electrónico</span
              >
              <div class="m-t-30 m-b-16 hstack justify-content-center">
                <a
                  mat-flat-button
                  color="primary"
                  class="btn-custom"
                  >Preguntar en Discord</a
                >
                <a
                  mat-stroked-button
                  color="accent"
                  class="btn-custom border-accent"
                  >Enviar correo</a
                >
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

    <!-- ------------------------------------------------------------------
    End call to action
    ------------------------------------------------------------------ -->

    <!-- ------------------------------------------------------------------
    buy section
    ------------------------------------------------------------------ -->
    <div class="bg-primary spacer-sm">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex align-items-center m-b-24">
            <div>
              <h3 class="m-t-0 section-title2 text-white m-b-24">
                ¿Qué esperas para llevar tu gestión agrícola al siguiente nivel? ¡Comienza hoy mismo con AgroTech!
              </h3>
              <div class="hstack">
                <a
                  mat-flat-button
                  [routerLink]="['/authentication/login']"
                  class="text-primary btn-custom sm bg-white f-w-500"
                  >Iniciar sesión</a
                >
                <a
                  mat-stroked-button
                  color="white"
                  class="btn-custom sm text-white f-w-500 border-white"
                  href="https://portal.testapp.io/apps/install/LqWkmgv9qk51m"
                  target="_blank"
                  >Descargar app móvil</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-5 text-right">
            <img
              src="assets/images/landingpage/background/c2a.png"
              alt="img"
              width="330"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- ------------------------------------------------------------------
    buy section
    ------------------------------------------------------------------ -->

    <!-- ------------------------------------------------------------------
    footer
    ------------------------------------------------------------------ -->
    <footer class="p-y-30">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-5 col-lg-4 text-center">
            <span>
              <img src="assets/images/landingpage/favicon.png" alt="logo" width="50px" />
            </span>
            <div class="f-s-14 m-t-8">
              Todos los derechos reservados © 2025
              <a class="f-s-14"
                >NovaTech</a
              >.
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- ------------------------------------------------------------------
    end footer
    ------------------------------------------------------------------ -->
  </mat-sidenav-content>

  <!-- ------------------------------------------------------------------
    Mobile Sidebar
    ------------------------------------------------------------------ -->
  <mat-sidenav
    #filterNavRight
    mode="over"
    position="end"
    class="filter-sidebar"
    style="visibility: hidden;"
  >
    <div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
