<div class="row">
  <div class="col-sm-6 col-lg-4" *ngFor="let post of posts()">
    <mat-card
      class="cardWithShadow position-relative card-hover cursor-pointer"
      (click)="goToAdvisorProfile(post.advisorId)"
    >
      <mat-card-header>
        <mat-card-title>
          {{ getAdvisor(post.advisorId).advisorName }}
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="post.image" alt="{{ post.title }}" />
      <mat-card-content>
        <mat-card-title>{{ post.title }}</mat-card-title>
        <p>{{ post.description }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
