@media (min-width: 1280px) {
  .bg-gredient {
    background-image: url('/assets/images/backgrounds/welcome-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }
}

.upload-btn {
  display: inline-block;
  background-color: var(--mat-sys-primary);
  padding: 5px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  transition: background 0.2s;
}
.upload-btn:hover {
  background-color: #1565c0;
}

@media (max-width: 959px) {
  .upload-btn {
    margin-bottom: 16px;
  }

}
