@media (min-width: 1280px) {
  .bg-gredient {
    background-image: url('/assets/images/backgrounds/welcome-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }
}
