<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-7 col-xl-8 bg-gredient p-0">

    </div>
    <div class="col-lg-5 col-xl-4 p-0">
      <div
        class="p-32 d-flex align-items-start align-items-lg-center justify-content-center h-100"
      >
        <div class="row justify-content-center w-100">
          <div class="col-lg-9 max-width-form">
            <h4 class="f-w-700 f-s-24 m-0">Bienvenido a AgroTech</h4>

            <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
              <!-- usuario -->
              <mat-label class="f-s-14 f-w-600 m-b-12 d-block"
                >Usuario</mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input matInput formControlName="uname" />
                @if(f['uname'].touched && f['uname'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                  @if(f['uname'].errors && f['uname'].errors['required']) {
                  <div class="text-error">Usuario es requerido.</div>
                  } @if(f['uname'].errors && f['uname'].errors['email']) {
                  <div class="text-error">Usuario debe ser un email válido.</div>
                  }
                </mat-hint>
                }
              </mat-form-field>
              <!-- password -->
              <mat-label class="f-s-14 f-w-600 m-b-12 d-block"
                >Contraseña</mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input matInput type="password" formControlName="password" />
                @if(f['password'].touched && f['password'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                  @if( f['password'].errors && f['password'].errors['required'])
                  {
                  <div class="text-error">Password is required.</div>
                  }
                </mat-hint>
                }
              </mat-form-field>
              <!-- roles -->
              <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Rol</mat-label>
              <mat-button-toggle-group formControlName="role">
                <mat-button-toggle value="ROLE_FARMER">Productor Agrícola</mat-button-toggle>
                <mat-button-toggle value="ROLE_ADVISOR">Asesor Especializado</mat-button-toggle>
              </mat-button-toggle-group>

              <button
                mat-flat-button
                color="primary"
                class="w-100 m-t-24"
                [disabled]="!form.valid"
              >
                Registrarse
              </button>
              <!-- input -->
            </form>
            <span class="d-block f-w-500 d-block m-t-24"
              >¿Ya tienes una cuenta?

              <a
                [routerLink]="['/authentication/login']"
                class="text-decoration-none text-primary f-w-500 f-s-14"
              >
                Inicia sesión</a
              >
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
