<div>
    <button class="back-btn mb-4" mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>

    <mat-card class="cardWithShadow animal-detail-card">
        <mat-card-header>
        <mat-card-title>{{animal?.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="field-grid">
                <div class="field-row">
                    <mat-form-field appearance="outline">
                        <mat-label>Especie</mat-label>
                        <input matInput [value]="animal?.species" readonly />
                    </mat-form-field>
                </div>

                <div class="field-row">
                    <mat-form-field appearance="outline">
                        <mat-label>Raza</mat-label>
                        <input matInput [value]="animal?.breed" readonly />
                    </mat-form-field>
                </div>

                <div class="field-row">
                    <mat-form-field appearance="outline">
                        <mat-label>Edad</mat-label>
                        <input matInput [value]="animal?.age ? (animal?.age + ' años') : ''" readonly />
                    </mat-form-field>
                </div>

                <div class="field-row">
                    <mat-form-field appearance="outline">
                        <mat-label>Género</mat-label>
                        <input matInput [value]="animal?.gender ? 'Macho' : 'Hembra'" readonly />
                    </mat-form-field>
                </div>
                
                <div class="field-row">
                    <mat-form-field appearance="outline">
                        <mat-label>Peso</mat-label>
                        <input matInput [value]="animal?.weight ? (animal?.weight + ' kg') : ''" readonly />
                    </mat-form-field>
                </div>

                <div class="field-row">
                    <mat-form-field appearance="outline">
                        <mat-label>Salud</mat-label>
                        <input matInput [value]="animalHealthStatus" readonly />
                    </mat-form-field>
                </div>
            </form>

            <div class="button-container">
                <button mat-flat-button color="primary" class="edit-button" (click)="edit()">Editar</button>
                <button mat-button color="warn" class="delete-button" (click)="delete()">Eliminar</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
