<div *ngIf="posts().length === 0">
  <mat-card class="cardWithShadow">
    <mat-card-content>
      <p>No hay publicaciones disponibles</p>
    </mat-card-content>
  </mat-card>
</div>

<div class="row">
  <div class="col-sm-6 col-lg-4" *ngFor="let post of posts()">
    <mat-card class="cardWithShadow position-relative card-hover cursor-pointer">
      <mat-card-header>
        <mat-card-title class="m-b-16">
          {{ post.title }}
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="post.image" alt="{{ post.title }}" />
      <mat-card-content>
        <p>{{ post.description }}</p>
        <div class="button-container">
          <button mat-button color="primary" class="edit-button" (click)="editPost(post.id)">Editar</button>
          <button mat-button color="warn" class="delete-button" (click)="deletePost(post.id)">Eliminar</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
